@media (min-width: 768px) {
  .navbar-logo {
    width: 100px !important;
    height: auto !important;
  }
}
@media (max-width: 768px) {
  .navbar-logo {
    width: 20% !important;
    height: auto !important;
  }
  .service-thumbs img {
    height: auto;
  }
  .deliver img {
    height: auto !important;
  }
  .history-title {
    margin-top: 10%;
  }
  .why-us .content h3 {
    font-size: 23px !important;
  }
  .transport-b-col {
    margin-top: 5%;
  }
  .transport-img img {
    height: 150px;
  }
  .service-thumbs img {
    height: 150px;
  }
}
@media (min-width: 768px) and (max-width: 768px) {
  .transport-img img {
    height: 150px;
  }
  .transport-b-col {
    margin-top: 0%;
  }
  .deliver img {
    height: 250px !important;
  }
}

.transport-img {
  text-align: center !important;
}
.transport-text {
  text-align: center !important;
}
.services-offer {
  background-image: url("../img/water.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.service-thumbs img {
  height: 162px;
}
.service-img-colg {
  margin-top: 3%;
  margin-bottom: 3%;
}
.contact-page-img img {
  height: 86%;
  text-align: center;
}
.deliver img {
  height: 400px;
}
